<app-header></app-header>

<div class="contact-us-container">
  <div class="contact-card">
    <h2>Contact Us</h2>
    <div class="contact-row">
      <div class="contact-icon">
        <i class="fa-solid fa-location-dot"></i>
      </div>
      <div class="contact-details">
        <h3>Our Address</h3>
        <p>123 Bus Station Road, Ahemdabad, Gujrat, 123456</p>
      </div>
    </div>
    <div class="contact-row">
      <div class="contact-icon">
        <i class="fa-solid fa-phone"></i>
      </div>
      <div class="contact-details">
        <h3>Phone Number</h3>
        <p>+91 9876543210</p>
      </div>
    </div>
    <div class="contact-row">
      <div class="contact-icon">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div class="contact-details">
        <h3>Email Address</h3>
        <p>mytrip&#64;busbooking.com</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
