<app-header></app-header>

<div class="row text-center mt-4" *ngFor="let data of searchData">
  <h6 class=" text-capitalize col-md-12 mb-3 text-center" style="color: var(--second-text-color);">{{data.departure}} - {{data.destination}} on {{data.date | date:'longDate'}}</h6>
  <p>helloo</p>
</div>

<table *ngIf="buses.length > 0" class="table mt-1">
  <thead>
    <tr >
      <th>Bus Name</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Coach Type</th>
      <th>Seats Available</th>
      <th>Fare</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bus of buses">
      <td>{{ bus.name }}</td>
      <td>{{ bus.departureTime }}</td>
      <td>{{ bus.arrivalTime }}</td>
      <td>{{ bus['coach type'] }}</td>
      <td>{{ bus.seats }}</td>
      <td>{{ bus.fare }}</td>
      <td>
        <!-- <button type="button" class="btn btn-secondary" routerLink="/seatselaction">View Seats</button> -->
        <button type="button" class="btn btn-secondary" (click)="viewSeats(bus)">View Seats</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="buses.length === 0" class="text-center mt-4">
  <p>No buses available for the selected route and date.</p>
</div>

<!-- <table *ngIf="filteredBuses.length > 0" class="table table-striped">
  <thead>
    <tr>
      <th>Bus Name</th>
      <th>Departure Time</th>
      <th>Arrival Time</th>
      <th>Coach Type</th>
      <th>Seats Available</th>
      <th>Fare</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bus of filteredBuses">
      <td>{{ bus.name }}</td>
      <td>{{ bus.departureTime }}</td>
      <td>{{ bus.arrivalTime }}</td>
      <td>{{ bus['coach type'] }}</td>
      <td>{{ bus.seats }}</td>
      <td>{{ bus.fare }}</td>
      <td>
        <button type="button" class="btn btn-secondary" routerLink="/seat-selaction" >View Seats</button>
      </td>
    </tr>
  </tbody>
</table>


<div *ngIf="filteredBuses.length === 0" class="text-center mt-4">
  <p>No buses available for the selected route and date.</p>
</div> -->


<!-- <div class="modal fade" id="seatSelectionModal" tabindex="-1" aria-labelledby="seatSelectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="seatSelectionModalLabel">Select Your Seat</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-seat-selection *ngIf="selectedBusId" [busId]="selectedBusId"></app-seat-selection>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="confirmSeats()">Confirm Seats</button>
      </div>
    </div>
  </div>
</div> -->
<app-footer></app-footer>
