
      <app-header></app-header>
      <div class="container">
        <div class="homePage">
          <form [formGroup]="searchForm">
            <div class="row align-items-end">
              <div class="form-group col-md-3">
                <label style="color: var(--second-text-color);"><i class="fa fa-bus" aria-hidden="true"></i> From</label>
                <select name="leaving_from" class="form-control form-control-sm custom-select" formControlName="departure" style="color: var(--second-text-color);">
                  <option value=""><b>Select Place</b></option>
                  <option *ngFor="let place of places" [value]="place.key">{{ place.value }}</option>
                </select>
              </div>
              <div class="form-group col-md-1 icon-wrapper">
                <ion-icon name="swap-horizontal" (click)="swapCities()"></ion-icon>
              </div>
              <div class="form-group col-md-3">
                <label style="color: var(--second-text-color);"><i class="fa fa-bus" aria-hidden="true"></i> To</label>
                <select name="going_to" class="form-control form-control-sm custom-select" formControlName="destination" style="color: var(--second-text-color);">
                  <option value=""><b>Select Place</b></option>
                  <option *ngFor="let place of filteredPlaces" [value]="place.key">{{ place.value }}</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label style="color: var(--second-text-color);">Departing On</label>
                <input type="date" class="form-control form-control-sm custom-date" name="depart_date" formControlName="date" [min]="minDate" style="color: var(--second-text-color);">
              </div>
              <div class="form-group col-md-2">
                <label style="color: var(--second-text-color);">Select Seats</label>
                <select class="form-control form-control-sm custom-date" name="depart_date" formControlName="passengers" style="color: var(--second-text-color);">
                  <option *ngFor="let value of [1, 2, 3, 4]" [value]="value">{{ value }}</option>
              </select>
                            </div>
            </div>
          </form>
        </div>
        <div class="">
          <button [disabled]="searchForm.invalid" class="btn btn-block btn-search btn-sm" (click)="onSubmit()" style="color: white">
            <i class="fas mr-2 fa-search"></i> Search Buses
          </button>
        </div>
      </div>
      <app-footer></app-footer>

