<div class="overlap"></div>
<div class="container">
  <div class="row justify-content-center pb-5 pt-3" >
    <div class="col-md-5 block mt-3">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="form-group col-md-6">
            <label>From</label>
            <select  name="leaving_form" class="form-control form-control-sm" formControlName="leaving_from">
              <option value="">Select Place</option>
              <option *ngFor="let place of places" [value]="place.key">{{ place.value }}</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label> To</label>
            <select name="going_to" class="form-control form-control-sm" formControlName="going_to">
              <option value="">Select Place</option>
              <option *ngFor="let place of filteredPlaces" [value]="place.key">{{ place.value }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label for="">Departing On</label>
            <input type="date" class="form-control form-control-sm" name="depart_date" formControlName="depart_date">
          </div>
        </div>
        <button [disabled]="searchForm.invalid" class="btn btn-block mt-3 btn-search btn-sm" (click)="onSubmit()">
          <i class="fas mr-2 fa-search"></i> Search Buses
        </button>
      </form>









    </div>
    <!-- <div class="col-md-5 slider mt-3 ">
      <img src="../../../assets/redBus-coupons-offers-1586.png" class="img-fluid">
    </div> -->
  </div>
</div>
