<div class="header-top">
  <div class="container">
      <div class="row">
        <div class="col-md-6 logo">
          <!-- <img src="../../../assets/bus-logo.jpg" alt=""> -->
           <h3 class="heading">My Trip.com</h3>
        </div>
        <div class="col-md-6">
          <p>
            <span class="login" (click)="onLogout()" *ngIf="isLogin">Log Out</span>
            <span class="login" [routerLink]="['/auth/login']" *ngIf="!isLogin"> Login</span>
            <span class="login" [routerLink]="['/auth/signup']" *ngIf="!isLogin"> Sign Up</span>

          </p>
          <!-- <p>
           <img src="../assets/img/246x0w.jpg" >
           ,01712345678
            01712345678,

          </p> -->
        </div>
      </div>
    </div>

</div>

<div class="menu">

<div class="container">
  <div class="row justify-content-center">
   <div class="col-md-4">
    <ul>
      <li routerLink=''>Home</li>
      <li routerLink="/about">About Us</li>
      <li routerLink="/contact">Contact Us</li>
    </ul>
   </div>

  </div>
</div>

</div>

<div style="display: none">{{checkLogin()}}</div>
