<div class="footer ">

  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 ">
        <div class="card card-body block">
          <h5 class="text-center mb-3" style="color:var(--second-text-color)">Popular Roads</h5>

              <ul class="row">
                  <li class="col-md-6" ><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Surat" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Surat"> Ahmedabad to Surat</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Bhavnagar" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Bhavnagar"> Ahmedabad to Bhavnagar</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Rajkot" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Rajkot"> Ahmedabad to Rajkot</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Amreli" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Amreli"> Ahmedabad to Amreli</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Vadodra" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Vadodra"> Ahmedabad to Vadodra</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Vapi" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Vapi"> Ahmedabad to Vapi</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Mumbai" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Mumbai"> Ahmedabad to Mumbai</a></li>
                  <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:var(--primary-color);font-size:17px;"></i> <a href="/bus-tickets/Ahmedabad-to-Jaipur" target="_blank" style="color:var(--second-text-color)" title="Ahmedabad to Jaipur"> Ahmedabad to Jaipur</a></li>

              </ul>

        </div>
      </div>

      <div class="col-md-6">
      <div class="card card-body block" >
          <div id="why_buy">
              <div class="info_right">
                  <h5 class="text-center mb-3" style="color:var(--second-text-color)">Why buy tickets from us?</h5>
                  <ul>
                      <li style="color:var(--second-text-color)"><i class="fas fa-check mr-2" style="color:var(--primary-color);font-size:17px;"></i> <b> Buy bus tickets</b> anytime from anywhere</li>
                      <li style="color:var(--second-text-color)"><i class="fas fa-check mr-2" style="color:var(--primary-color);font-size:17px;"></i> Pay by credit card, mobile banking or cash</li>
                      <li style="color:var(--second-text-color)"><i class="fas fa-check mr-2" style="color:var(--primary-color);font-size:17px;"></i> Get tickets delivered to your doorstep</li>
                      <li style="color:var(--second-text-color)"><i class="fas fa-check mr-2" style="color:var(--primary-color);font-size:17px;"></i> Dependable customer service <b>(8 AM to 11 PM)</b></li>
                  </ul>
              </div>
          </div>
      </div>
      </div>
    </div>
    <div class="row pt-5 mb-5 justify-content-center">
      <img src="../../../assets/sslcommerz_logo.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
