<app-header></app-header>
<div class="seat-selection-container">
  <h3 style="color: var(--primary-color);" class="mt-3">Select Your Seats</h3>
  <div class="Select-seat-card">

    <div class="bus seat2-2  p-0">
      <div class="bus-head"><img src="assets/steering.png"></div>
        <div *ngFor="let row of seats; let i = index" class="seat-row-{{ i + 1 }}">

          <ol class="seats">
            <li *ngFor="let seat of row" class="seat">
              <input
                role="input-passenger-seat"
                [id]="'seat-checkbox-' + (i + 1) + '-' + seat.value"
                [value]="seat.value"
                type="checkbox"
                [disabled]="seat?.cursor"
                (change)="onSeatChange(seat)"
              />
              <label [for]="'seat-checkbox-' + (i + 1) + '-' + seat.value" [ngClass]="{ 'dis' : seat.disabled }">
                {{ seat.value }}
              </label>
            </li>
          </ol>
        </div>
      </div>

    <div class="seat-info" style="color: var(--primary-color);">
      <div class="info-seats">
        <div class="for-booked-note">
          <div class="dot colorBooked"></div>
          <span>Booked Seat</span>
        </div>
        <div class="for-booked-note">
          <div class="dot colorSelected"></div>
          <span>Selected Seat</span>
        </div>
        <div class="for-booked-note">
          <div class="dot colorAvailable"></div>
          <span>Available Seat</span>
        </div>

      </div>
      <h4>Bus Information</h4>
      <table>
        <tr>
          <td>Bus Type:</td>
          <td>{{ busType }}</td>
        </tr>
        <tr>
          <td>Selected Seats:</td>
          <td>{{ selectedSeats.length }}/{{maxSeats}}</td>
        </tr>
        <tr>
          <td>Fare:</td>
          <td>{{ totalFare | currency }}</td>
        </tr>

      </table>
    </div>

  </div>
</div>
<div class="button-container">
  <button class="btn btn-primary">Book-Now</button>
</div>
<div *ngIf="showErrorMessage" class="error-message">
  You can select a maximum of 4 seats.
</div>
<app-footer></app-footer>
