<app-header></app-header>
<div class="seat-selection-container">
  <h3 style="color: var(--primary-color);" class="mt-3">Select Your Seats</h3>
  <div class="seat-layout">
    <div *ngFor="let row of seats; let rowIndex = index" class="seat-row">
      <div *ngFor="let seat of row; let seatIndex = index"
           [ngClass]="{
             'seat': true,
             'occupied': seat.occupied,
             'selected': isSelected(seat),
             'driver': seat.isDriverSeat
           }"
           (click)="selectSeat(rowIndex, seatIndex)">
        <ng-container *ngIf="seat.isDriverSeat; else normalSeat">
          <i class="fa fa-steering-wheel" aria-hidden="true"></i>
        </ng-container>
        <ng-template #normalSeat>
          <span>{{ seat.number }}</span>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="seat-info" style="color: var(--primary-color);">
    <h4>Bus Information</h4>
    <table>
      <tr>
        <td>Bus Type:</td>
        <td>{{ busType }}</td>
      </tr>
      <tr>
        <td>Fare:</td>
        <td>{{ fare | currency }}</td>
      </tr>
    </table>
  </div>

  <div class="selected-seats">
    <h4 style="color: var(--primary-color);">Selected Seats: {{ selectedSeats.length }}/4</h4>
    <ul>
      <li *ngFor="let seat of selectedSeats">{{ seat.number }}</li>
    </ul>
  </div>
</div>

<div *ngIf="showErrorMessage" class="error-message">
  You can select a maximum of 4 seats.
</div>
<app-footer></app-footer>
