@import "~@fortawesome/fontawesome-free/css/all.min.css";
// @import 'light-theme';
// @import 'dark-theme';

body {
 margin: 0;
 font-family: "Prompt", sans-serif;
}

.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark-theme {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle {
  transition: background-color 0.3s ease;
}

// :root {
//   --background-color: #ffffff;
//   --text-color: #ffffff;
//   --primary-color: #1366d9;
//   --secondary-color: #f3f4f6;
//   /* Add more variables as needed */
// }

// /* Dark theme */
// .dark-theme {
//   --background-color: #121212;
//   --text-color: #121212;
//   --primary-color: #F9DBBA;
//   --secondary-color: #1f1f1f;
//   /* Add more variables as needed */
// }

:root {
  --background-color: #ffffff;
  --text-color: #ffffff; /* Changed to a darker shade for better readability */
  --primary-color: #1366d9; /* Blue shade for light mode */
  --secondary-color: #f3f4f6; /* Light grey for background */
  --icon-color: #1366d9; /* Matching the primary color */
  --card-background-color: #f9f9f9;
  --second-text-color:#121212; /* Light grey for card background */
}

.dark-theme {
  --background-color: #121212;
  --text-color: #121212; /* Light grey for better readability */
  --primary-color: #F9DBBA; /* Warm beige for dark mode */
  --secondary-color: #1f1f1f; /* Dark grey for background */
  --icon-color: #F9DBBA; /* Matching the primary color */
  --card-background-color: #696767; /* Dark grey for card background */
  --second-text-color:#ffffff;
}

// body {
//   background-color: var(--background-color);
//   color: var(--text-color);
// }

// .header {
//   background-color: var(--primary-color);
//   color: var(--text-color);
// }

// .button {
//   background-color: var(--secondary-color);
//   color: var(--text-color);
//   border: 1px solid var(--primary-color);
// }
